@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite; /* Adjust the duration as needed */
  text-align: center;
}
.footer {
  background-color: #50c1e4;
  color: #fff;
  text-align: center;
  padding: 10px;
}
